apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: build-suite-test-component-git-source-yyrwvypcex
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: build-suite-test-component-git-source-yyrwvypcex
    app.kubernetes.io/part-of: test-psturc
  name: build-suite-test-component-git-source-yyrwvypcex
  namespace: psturc
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: build-suite-test-component-git-source-yyrwvypcex
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: build-suite-test-component-git-source-yyrwvypcex
    spec:
      containers:
      - env:
        - name: DEBUG_PORT
          value: "5858"
        image: quay.io/redhat-appstudio/user-workload:psturc-build-suite-test-component-git-source-yyrwvypcex
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          requests:
            cpu: "1"
            memory: 512Mi
status: {}
